.banner {
  background-color: bisque;
  padding: 40px;
  justify-content: center;
}

.white-text {
  padding: 10px;
  color: aliceblue;
}

.row1 {
  text-align: center;
}

.row2 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.imagem{
  width: 500px;
}